// Mixins Here
.flex(@direction, @wrap, @justify) {
	display: flex;
	flex-flow: @direction @wrap;
	justify-content: @justify;

	@media @phone {
		flex-flow: column-reverse nowrap;
		
	}

} 

.buttoning(@bg-color, @font-color, @radius) {
	width: 100px;
	padding: 10px 15px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
	border-radius: @radius;
	background: @bg-color;
	color: @font-color;
	&:hover {
		background: @font-color;
		color: @bg-color;
	}
	@media @phone {
		width: 100%;
		padding: 20px;
	}
}